asgiref==3.9.1
certifi==2025.8.3
charset-normalizer==3.4.3
Django==5.2.5
django-allauth==65.11.0
django-crispy-forms==2.4
django-jazzmin==3.0.0
idna==3.10
mysqlclient==2.2.4
pillow==11.3.0
python-decouple==3.8
razorpay==1.4.2
requests==2.32.4
sqlparse==0.5.3
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
pkg_resources==0.0.0
psycopg2-binary==2.9.5